body {
    background-color: lightgreen;

    /* Smoothly transition the background color */
    //transition: background-color .5s;
}

/* Using flex with the row direction to 
align items in a horizontal direction */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    .list-button {
        padding: 15px 25px;
    }
}
.list-button,
.player-button,
.inputfile + label {
    padding: 25px;
    opacity: 0.8;
    cursor: pointer;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
    &:hover {
        opacity: 1.0;
    }
}

.inputfile {
    z-index: -1;

    +label {
        margin-bottom: 0px;
        padding: 0px;
    }
}

.text-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
