.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    .details {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: $spacing-large;
        text-align: center;
        width: 100%;

        .track-art {
            object-fit: cover;
            margin: $spacing-large;
            height: 250px;
            width: 250px;
            border-radius: 15%;
        }
        /* Changing the font sizes to suitable ones */
        .now-playing {
            font-size: 1rem;
        }

        .track-name {
            font-size: 3rem;
            // width: 100%;
        }

        .track-artist {
            font-size: 1.5rem;
        }
    }

    /* Define the slider width so that it scales properly */
    .slider_container {
        width: 75%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        .slider {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 5px;
            background: black;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: $spacing-medium;
                height: $spacing-medium;
                background: white;
                cursor: pointer;
                border-radius: 50%;
            }

            &:hover {
                opacity: 1;
            }

            &:focus {
                outline: none;
            }

            &.seek_slider {
                width: 60%;
            }

            &.volume_slider {
                width: 30%;
            }
        }
        svg {
            &.fa-volume-down,
            &.fa-volume-up {
                padding: $spacing;
            }
        }

        .time {
            padding: $spacing;
        }
    }
}
