.playlist {
    display: block;
    padding: 15px;
    margin-bottom: 0;
    overflow-x: overlay;
    height: 85vh;

    .playlist-item {
        border: solid 1px black;
        border-bottom: none;
        display: block;
        min-height: 80px;
        padding: 10px;

        &:last-child {
            border-bottom: solid 1px black;
        }

        &.active {
            background-color: honeydew;
            opacity: 0.7;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .playlist-item-image {
            padding-left: 0;
            padding-right: 0;

            img {
                max-height: 80px;
                max-width: 80px;
                border-radius: 15%;
            }
        }

        .playlist-item-button {
            padding-right: 0;
            text-align: center;

            button {
                background: transparent;
                padding: 0;
                border: none;
                cursor: pointer;
                outline: none;
            }

            >:first-child {
                margin-bottom: 8px;
            }
        }
    }
}